<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Reconnect</title>
        <style type="text/css">
            body {
                font-family: Helvetica, sans-serif;
            }
            header {
                text-align: center;
            }
            main {
                display: flex;
                justify-content: space-around;
            }
            .dat-url {
                padding: 50px;
            }
        </style>
    </head>

    <body>

        <div id="app">

            <header>
                <h1>Reconnect</h1>
                <p>Easily pull changes from one Dat app to another</p>
            </header>

            <main>

                <div class="source dat-url">
                    <input v-model="sourceUrl" type="text" id="source"/>
                    <button @click="selectSource">Select Source</button>
                </div>

                <div class="target dat-url">
                    <input v-model="targetUrl" type="text" id="target"/>
                    <button @="selectTarget">Select Target</button>
                </div>

            </main>

        </div>

        <script src="/node_modules/vue/dist/vue.js"></script>
        <script src="/js/app.js"></script>

    </body>
</html>
